<div class="dropdown">
    <button class="dropdown-button">Action</button>
    <div class="dropdown-content">
      <a class="dropdown-item" href="../esenciales">Esenciales</a>
      <a class="dropdown-item" href="/herramientas">Herramientas</a>
      <a class="dropdown-item" href="/acciones">Nuestro modo</a>
      <a class="dropdown-item" href="/organizacion">Reglas y Organización</a>
    </div>
  </div>