<div class="cabecera">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init
        data-mdb-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
    <div>
      <a href="/" class="header__logo"><h1>The 42 Blog</h1></a>
    </div>
    <%- include('searchBar.ejs') %> <!-- Incluir el parcial searchBar -->
</div>