<div class="cabecera">
    <div>
      <a href="/" class="header__logo"><h1>Admin Panel || The 42 Blog</h1></a>
    </div>
    <%- include('../partials/searchBar.ejs') %> <!-- Incluir el parcial searchBar -->
    <%- include('../partials/dropdown.ejs') %>
    <div class="header_button">
        <a href="/logout">
        Logout
        </a>
    </div>
</div>