<div class="cabecera">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init
        data-mdb-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2"
        aria-expanded="false" aria-label="Toggle navigation">
        <svg class="icon-bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
          <path d="M3 6h18M3 12h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </nav>
    <div>
      <a href="/" class="header__logo"><h1>The 42 Blog</h1></a>
    </div>
    <%- include('searchBar.ejs') %> <!-- Incluir el parcial searchBar -->
</div>

<script src="/js/script.js"></script>