<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Esenciales</h2>
    <h3>Ray Dalio</h3>
    <h3>Tony Robbins</h3>
    <h3>Borges</h3>
    <h3>Carl Jung</h3>
    <h3>Osho</h3>
    <h3>Robert Kiyosaki</h3>
    <h3>David Goggings</h3>
</body>
</html>