<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Herramientas</h2>
    <h3>Obsidian</h3>
    <p>Obsidian es una poderosa herramienta de gestión de conocimiento que te permite crear una red personalizada de notas interconectadas. Al vincular ideas y conceptos a través de enlaces internos, puedes construir un segundo cerebro digital que te ayuda a organizar tu pensamiento, recordar información y generar nuevas ideas.</p>
    <p>Una de las características más destacadas de Obsidian es su vista gráfica. Esta herramienta visual te permite ver de un vistazo cómo se relacionan tus notas entre sí. Los nodos representan tus notas y las líneas que los conectan muestran las relaciones que has establecido.</p>
    <a href="https://www.youtube.com/watch?v=hSTy_BInQs8" rel="noreferrer" target="_blank">Video Introducción</a>
    <h3>Todoist</h3>
    <p>Todoist es una herramienta de gestión de tareas popular conocida por su interfaz intuitiva y su enfoque en la productividad. A diferencia de otras aplicaciones, Todoist se destaca por su sistema de proyectos y etiquetas altamente personalizable.</p>
    <p>Todoist te permite organizar tus tareas en proyectos y etiquetarlas con palabras clave. Esta combinación te brinda un control preciso sobre cómo categorizas y encuentras tus tareas. Por ejemplo, puedes tener un proyecto para "Trabajo" con etiquetas como "Urgente", "Cliente A" y "Diseño".</p>
    <a href="https://www.youtube.com/watch?v=Qe0KIywhKNo" rel="noreferrer" target="_blank">Video Introducción</a>
</body>
</html>