<div class="descripción">
<h1 class="descripción__heading">Hi, This is the 42 Project</h1>
<p>El Proyecto 42 es una filosofía basada en el aprendizaje de habilidades de alto valor. En este, nuestro grupo,
 centraremos nuestra energía en adquirir, monetizar y expandir las habilidades del futuro.
 Están permitidas actividades de alto riesgo como el trading o fumar mucho... De hecho, son necesarias.</p>
 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni tempore labore error dicta sit! Dolores vel ducimus, nam magnam aperiam aliquid eligendi cum itaque, magni, quisquam beatae voluptates excepturi distinctio.</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae perspiciatis nisi vero quam distinctio alias mollitia! Possimus obcaecati accusantium esse corporis, id dicta omnis accusamus minus itaque expedita quam?</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic dolor laboriosam vero mollitia! Asperiores hic deleniti quos illo aperiam vel magni laboriosam quia, eligendi error cumque perspiciatis repellendus praesentium.</p>
 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius quidem aliquid non! Similique perspiciatis vel distinctio dolorem aliquid libero inventore debitis numquam, quo iusto deleniti est magni velit neque et?</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint enim recusandae quisquam dicta molestias accusamus eveniet, aut veritatis maxime, harum saepe quis. Voluptatibus at nihil non beatae quo aliquam molestiae.</p>
 <section class="articles">
    <h2 class="articles__heading">Últimos Posts</h2>
    <ul class="article-ul">
       <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span class="post-title"><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <div class="pagination">
            <a href="/?page<%= nextPage %>">&lt; Ver Posts más antiguos</a>
        </div>
    <% } %>
 </section>
</div>