<div class="descripción">
<h1 class="descripción__heading">Hi, This is the 42 Project</h1>
<p>El Proyecto 42 es una filosofía basada en el aprendizaje de habilidades de alto valor. En este, nuestro grupo,
 centraremos nuestra energía en adquirir, monetizar y expandir las habilidades del futuro.
 <br>
 <div id="hiring">
 <i><b>
 <p>Estamos buscando a un front-end y un back-end, preferiblemente que manejen o maneje React y Node.js;
     Un marketing manager; un diseñador gráfico y un copywriter.</p>
</b></i>
</div>
 <br> 
 Están permitidas actividades de alto riesgo como el trading o fumar mucho... De hecho, son necesarias.</p>
 <section class="articles">
    <h2 class="articles__heading">Últimos Posts</h2>
    <ul class="article-ul">
       <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span class="post-title"><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <div class="pagination">
            <a href="/?page<%= nextPage %>">&lt; Ver Posts más antiguos</a>
        </div>
    <% } %>
 </section>
</div>