<h1>Referencias</h1>
<p>Esto es rápido, otra vez. Si has leído los principios de Ray Dalio, doy por hecho que estás igual de enfermo que yo. No me interesa tu background ni lo inteligente que eras de chiquito. Sólo quiero que aprendas rápido en pos de un objetivo único. Bueno, referencias... Tony Robbins dice que se leía un libro en una noche, y yo le creo. Así que espero más o menos lo mismo de todos nosotros.</p>
