<h1>Referencias</h1>
<p>Esto es rápido, otra vez. Si has leído los principios de Ray Dalio,
     doy por hecho que estás igual de enfermo que yo. No me interesa tu
      background ni lo inteligente que eras de chiquito. Sólo quiero que
       aprendas rápido en pos de un objetivo único. Bueno, referencias...
        Tony Robbins dice que se leía un libro en una noche, y yo le creo.
         Así que espero más o menos lo mismo de todos nosotros.
</p>
<br>
<ul class="reference-list">
    <li>
        <a href="https://pdfcoffee.com/guia-del-autoestopista-galactic-douglas-adams-5-pdf-free.html" rel="noreferrer" target="_blank">
            <h2>Guía del autoestopista galáctico</h2>
        </a>
    </li>
    <li>
        <a href="https://cvc.cervantes.es/literatura/clasicos/quijote/edicion/parte2/cap42/default.htm" rel="noreferrer" target="_blank">
            <h2>Don Quijote || Segunda Parte</h2>
            <h3>Capítulo 42 || De los consejos que dio don Quijote a Sancho Panza antes 
                que fuese a gobernar la ínsula, con otras cosas
                bien consideradas</h3>
        </a>
    </li>
    <li>
        <a href="https://es.wikipedia.org/wiki/Biblia_de_Gutenberg" rel="noreferrer" target="_blank">
            <h2>La Biblia de Gutenberg tiene 42 lineas</h2>
        </a>
    </li>
</ul>
